body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0f0c29;
  background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to top, #24243e, #302b63, #0f0c29);

}

* {
  box-sizing: border-box;

}

/*  HEADER SECTION*/
.header {
  width: 100%;
  background: #0f0c29;
  margin-bottom: 2rem;
  height: 70px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 999;
}

.content {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list li {
  display: inline-block;
  color: #e0e0e0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-right: 20px;
  text-decoration: none;
}

.list li a {
  color: #e0e0e0;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: #e0e0e0;
}

.link:hover {
  color: #949494;
}

.searcher {
  width: 15px;
  cursor: pointer;
}

.fa-search {
  font-size: 18px;
  cursor: pointer;
}

.fa-search:hover {
  color: #949494;
}

.list li:nth-child(n + 2) {
  margin-left: 25px;
}

.logo {
  display: flex;
  margin-left: 20px;
  padding-top: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  position: relative;
}

.logo h3 {
  margin-left: 10px;
  font-size: 25px;
  margin-bottom: 0px;
  position: relative;
  bottom: 15px;
  color: #e0e0e0;
}

/*  NEW RELEASES SECTION*/
.newReleases {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  border-bottom: 1px solid #505089;
}

.poster img {
  width: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);

}

.overlay:hover img {
  background-color: #000;
  opacity: 0.5;
}

.movie-container {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.vote {
  z-index: 1;
  margin-bottom: 10px;

}

.newReleases h2 {
  color: #e0e0e0;
}

.movie-carousel {
  display: flex;
  min-width: 1200px;
  justify-content: space-between;
}

.new-releases-slide {
  display: flex;
  justify-content: space-around;
  min-width: 1200px;
  position: relative;
}

.title h3 {
  text-align: left;
  width: 200px;
  padding-top: 20px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.release-date {
  width: 200px;
  line-height: 0;
  text-align: left;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.banner-next-arrow {
  color: #fff;
  position: relative;
  bottom: 17rem;
  float: right;
}

.banner-back-arrow {
  color: #fff;
  position: relative;
  bottom: 15rem;
  width: 0;
}

/* NOW PLAYING SECTION */
.now-playing-slide {
  display: flex;
  justify-content: space-around;
  min-width: 1200px;
  position: relative;
}

.now-playing {
  width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
  overflow: hidden;
  border-bottom: 1px solid #505089;
}

.now-playing h2 {
  color: #e0e0e0;
}

.now-playing-carousel {
  display: flex;
  min-width: 1200px;
  justify-content: space-between;
}

/*  TRENDING SECTION */
.slider {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  margin-top: 100px;
}

.slider-wrapper {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 1;
  color: #fff;
  cursor: pointer;
  width: 0;
}

.vote {
  width: 30px;
  background-color: #aaa;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: relative;
  top: 3rem;
  right: 5px;
  font-size: 15px;
}

.inf {
  position: relative;
  bottom: 13rem;
  left: 2rem;
  color: #fff;
}

.inf h3 {
  font-weight: 400;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.title h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-top: 6px;
  margin-bottom: 8px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating img {
  width: 25px;
  height: 25px;
  position: relative;
  bottom: 4px;
  margin-right: 10px;
}

.genre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin-right: 5px;
}

/*  TRAILER SECTION  */

.youtube {
  width: 800px;
  height: 450px;
}

.trailers {
  margin: 0 auto;
  margin-top: 3rem;
  width: 1200px;
  border-bottom: 1px solid #505089;
}

.trailer-carousel {
  display: flex;
}

.trailers h1 {
  width: 1200px;
  color: #e0e0e0;
}

.youtube-videos {
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

/* TOP RATED */
.top-rated-slide {
  display: flex;
  justify-content: space-around;
  min-width: 1200px;
  position: relative;
}

.top-rated {
  width: 1200px;
  margin: 0 auto;
  margin-top: 3rem;
  overflow: hidden;

}

.top-rated h2 {
  color: #e0e0e0;
}

.top-rated-carousel {
  display: flex;
  min-width: 1200px;
  justify-content: space-between;
}



/* SEARCH BOX */
.search-box {
  position: relative;
}

.input-box {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 3.5rem;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #242628;
}

.input-box input {
  flex-grow: 1;
  color: #bfd2ff;
  font-size: 1rem;
  line-height: 2.4rem;
  vertical-align: middle;
  border-style: none;
  background: transparent;
  outline: none;
  padding-left: 10px;
}

.input-box button {
  color: #7881a1;
  font-size: 1rem;
  line-height: 2.4rem;
  vertical-align: middle;
  transition: color 0.25s;

  background: none;
  border: none;
  outline: none;
}

.input-box button:hover {
  color: #bfd2ff;
}

.notShow {
  display: none;
}

/* MOVIE INFO SECTION*/
.movieInfo-container {
  background-color: #fff;
}

.title-section {
  width: 100%;
  height: auto;
  position: relative;
}

.title-section:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(58, 58, 58, 0.8);
}

.movieInfo-wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.movie-poster img {
  width: 300px;
  height: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 5px;
}

.movieInfo-title {
  margin-top: 3rem;
  margin-left: 3rem;
}

.movieInfo-title h1 {
  color: #fff;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.user-score {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
}

.user-score p {
  width: 30px;
}

.user-score span {
  font-size: 2.5rem;
  font-weight: bold;
}

.overview {
  color: #fff;
  width: 700px;
}

.overview p {
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-weight: thin;
}

.small-container {
  color: #fff;
  line-height: 1.5;
  display: flex;
  width: 700px;
  justify-content: space-between;
}

.small-container h3 {
  margin: 0;
  font-size: 18px;
}

.small-container p {
  margin: 0;
  font-size: 15px;
}

.actor-list img {
  width: 168px;
  margin-bottom: 10px;
  cursor: pointer;
}

.actor-container {
  width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
}

.cast {
  width: 1200px;
  margin: 0 auto;
}

.actor-list {
  list-style: none;
  background-color: #fff;
  width: 170px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #e3e3e3;
}

.actor-list p {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 5px;
}

.actor-list h4 {
  margin: 0;
  line-height: 1.5;
  margin-left: 5px;
}

/*  REVIEW SECTION  */
.review-container {
  width: 1200px;
  margin: 0 auto;
}

.review-list {
  list-style: none;
  background-color: #fff;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #e3e3e3;
}

.review-list:nth-child(n + 2) {
  margin-bottom: 15px;
}

.review-list h3 {
  margin-left: 10px;
}

.review-list p {
  width: 1100px;

  margin: 0 auto;
  margin-bottom: 60px;
}

.review-list a {
  margin-left: 5px;
  text-decoration: none;
}

.video-list {
  list-style: none;
}

.video-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  overflow: scroll;
}

.video {
  width: 533.33px;
  height: 300px;
}

.backdrop-list {
  list-style: none;
}

.backdrop {
  width: 533.33px;
  height: 300px;
}

.backdrops-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  overflow: scroll;
}

.poster {
  width: 200px;
  height: 300px;
}

.poster-list {
  list-style: none;
  margin-bottom: 10px;
}

.posters-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  overflow: scroll;
}

.media {
  width: 1200px;
  margin: 0 auto;
}

.media-links ul li {
  list-style: none;
  display: inline-block;
  margin-left: 3rem;
  cursor: pointer;
}

.media-links li:nth-child(n + 2) {
  margin-left: 50px;
}

.media-links {
  display: flex;
  align-items: center;
}

/*------ACTOR INFORMATION------*/

.actor {
  background-color: #f6f6f6;

}

.actorInfo-container {
  background-color: #f6f6f6;
  display: flex;
  width: 1200px;
  margin: 0 auto;

}

.personalInfo {
  background-color: #f6f6f6;
  margin-top: 50px;
}

.personalInfo img {
  border-radius: 5px;
}

.bio {
  background-color: #f6f6f6;
}

.bio h2 {
  padding-left: 40px;
}

.biography {
  line-height: 1.4;
  padding: 0 60px 80px 40px;
}

/*----PERSONAL INFO list----*/
.facts ul li {
  list-style: none;
}

.facts ul li:nth-child(n + 2) {
  margin-top: 15px;
}

.facts ul li {
  position: relative;
  right: 40px;
}

.facts ul li p {
  margin: 0;
}

.facts li h4 {
  margin: 0;
}

.also-known-as li {
  margin-top: 10px;
  font-size: 15px;
  line-height: 0.5;
}

/*--------------------------*/
.actor-social-media li {
  list-style: none;
}

.actor-social-media li:nth-child(n + 2) {
  margin-left: 20px;
}

.actor-social-media ul {
  display: flex;
}

.actor-social-media li img {
  width: 30px;
  height: 30px;
}

.name-socials {
  display: flex;
  align-items: center;
}

.name-socials h1 {
  padding-left: 40px;
}

.home {
  width: 33px;
  margin-left: 20px;
}

.name-socials li {
  list-style: none;
}

.name-socials ul {
  display: flex;
  align-items: center;
}

.name-socials h1 {
  font-size: 2.4rem;
  margin: 0;
}

.credit-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.credit-list:nth-child(n + 2) {
  border-top: 1px solid #e7e7e7;
}

.credit-list p {
  width: 600px;
  margin-left: 40px;

}


.credit-list span {
  margin-right: 5px;
  color: #000;
  font-weight: bold;
}

.credit-list span:hover {
  text-decoration: underline;
}

.credit-list a {
  text-decoration: none;
}

.combined-credits {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid #e3e3e3;
  width: 787px;
  margin-top: 50px;
  margin-bottom: 20px;
  background-color: #fff;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.buttons button {
  font-size: 14px;
  padding: 5px 8px;
  float: right;

  cursor: pointer;
}

.movieButton {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.showButton {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 50px;
}

.acting {
  margin-right: 32px;
}

.showMore {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showMore img {
  width: 30px;
  position: relative;
  top: 20px;
}

.showMore img:hover {
  cursor: pointer;
}

.biography-container {
  position: fixed;
  color: #333226;
  z-index: 10;
  max-width: 790px;
  background-color: #fbf695;
  border-radius: 5px;
}

.biography-container p {
  margin: 20px 20px;
}

.biography-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-bottom: 1.5px solid #c7c98b;
}

.biography-header h3 {
  padding-bottom: 10px;
  margin: 0;
  margin-left: 20px;
}

.biography-header i {
  margin-right: 20px;
}

.biography-header i:hover {
  cursor: pointer;
  color: red;
}

.movieInfo-container {
  padding-bottom: 100px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*  FOOTER SECTION */
footer {
  background-color: #081c24;
  display: flex;

  width: 100%;


}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.movieDB-logo {
  width: 200px;
  margin-right: 20px;
}

.movieDB-links {
  margin-bottom: 74px;
  margin-top: 71px;
}

.facebook,
.twitter,
.website {
  width: 40px;
  margin-right: 20px;
}

.information {
  color: #e0e0e0;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1.2rem;
  margin-left: 20px;
}

.inner-links {
  display: flex;
  align-items: center;
}

.website-pages li {
  display: inline-block;
}

.website-pages li:nth-child(n + 2) {
  margin-left: 25px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.personal-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  line-height: 2;
  font-size: 16px;
}

.personal-info a {
  text-decoration: none;
  color: #e0e0e0;
}


.main-container {
  min-height: 80vh;
}

.actor {
  min-height: 80vh;
  margin-top: 70px;
}